<div class="hidden-xs hidden-sm row-fluid">
    <!--Sort by:-->
    <select ng-model="orderProp" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;width: 150px;padding-top: 0;padding-bottom: 0">
        <option value="name">Alphabetical</option>
        <option value="price">Price</option>
        <option value="Calorie">Calorie</option>
        <option value="Protein">Protein</option>
        <option value="Carb">Carbohydrate</option>
        <option value="Fat">Fat</option>
    </select>
    <!--in Descending Order-->
    <input type="search" data-ng-model="query" class="" style="border:8px;border-radius:5px;" placeholder="Search in the Category">
</div>
<div class="row">
    <ul class="thumbnails">
        <li class="col-lg-3 col-sm-4 col-xs-6 animate" ng-repeat="product in store[$routeParams.Category] | orderBy:orderProp | filter:query">
            <div class="thumbnail" title="{{product.description}}">
                <center>
                    <div class="outofstock" data-ng-show="{{product.quantity<5}}">
                        <span class="text-danger">Often Out of Stock</span>
                    </div>
                    <a style="position: absolute;top:5px;right: 5px" data-ng-click="isFav = !isFav" data-ng-controller="isFav"><i class="fa" data-ng-class="{{product.isFav}} ? 'fa-star' : 'fa-star-o'"></i></a>
                    <img ng-src="images/Store/{{$routeParams.Department}}/{{$routeParams.Category}}/{{product.name}}.jpg" ng-alt="{{product.name}}" class="img-responsive" width="200px" height="200px"/>
                </center>
                <div class="caption text-center">
                    <span class="pn">{{product.name}}</span>
                </div>
                <div style="position:absolute;bottom: 41px;">
                    <span>{{product.price | currency:"&#8377;"}}&nbsp;</span>
                </div>
                <div style="position: absolute;bottom: 41px;right: 5px">
                    <a class="btn btn-success" ng-click="cart.addItem(product.sku, product.name, product.price, 1)">{{product.Description}}<i class="fa fa-plus fa-inverse"></i></a>
                </div>
                <!-- Hover content -->
                    <table class="table details bordered hidden-sm hidden-xs" data-ng-hide="{{product.Calorie<1}}">
                        <!-- Calories -->
                        <tr>
                            <td><b>Calorie</b></td>
                            <td><b>{{product.Calorie}}</b></td>
                        </tr>
                        <!-- Details -->
                        <tr>
                            <td>Protein</td><td>{{product.Protein}}g</td>
                        </tr>
                        <tr>
                            <td>Carb</td><td>{{product.Carb}}g</td>
                        </tr>
                        <tr>
                            <td>Fat</td><td>{{product.Fat}}g</td>
                        </tr>
                    </table>
            </div>
        </li>
        <li class="col-sm-6 col-md-3 animate">
            <div class="thumbnail request" style="width: 200px;height: 235px">
                <img src="images/thumbnail-black.png" alt="logo-black" class=""/>
                <div class="caption text-center" style="position:relative;bottom: 10px" >
                    <p class="text-center"><a data-target="#request" href="/#request" data-toggle="modal" class="btn btn-danger btn-block">Request an Item<i class="fa fa-fw fa-bullhorn"></i></a></p>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--<pre>$location.path() = {{$location.path()}}</pre>-->
<!--<pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>-->
<!--<pre>$route.current.params = {{$route.current.params}}</pre>-->
<!--<pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>-->
<!--<pre>$routeParams = {{$routeParams}}</pre>-->
<!--<pre>$routeParams.Department = {{$routeParams.Department}}</pre>-->
<!--<pre>$routeParams.Category = {{$routeParams.Category}}</pre>-->

<style>
    .outofstock {
        position: absolute;
        background: rgba(255,0,0,.7);
        top: 5px;
        width: 100%;
        color: #ffffff;
    }
    .thumbnail {
        position: relative;
        overflow:hidden;
    }
    .details {
        position: absolute;
        top: 30px;
        left: 25px;
        width: 80%;
        height: 60%;
        background: rgba(0,0,0,.7);
        color: #ffffff !important;
        -webkit-transition: opacity 200ms ease-out; /* For Safari 3.1 to 6.0 */
        -moz-transition: opacity 200ms ease-out;
        -o-transition: opacity 200ms ease-out;
        transition: opacity 200ms ease-out;
        opacity: 0;
    }
    .details:hover {
        -webkit-transition: opacity 250ms ease-in; /* For Safari 3.1 to 6.0 */
        -moz-transition: opacity 250ms ease-in;
        -o-transition: opacity 250ms ease-in;
        transition: opacity 250ms ease-in;
        opacity: 1;
        transition-delay:250ms;
    }
    .fa-star {
        color: deepskyblue;
    }
</style>
<!-- Modal -->
<!-- <div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="requestModal" aria-hidden="true" data-keyboard="true" data-backdrop="true" style="width: 400px">
    <div class="modal-dialog" style="font-size: 18px;" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="height: 20px;width: 20px">&times;</button>
                <h4>Can't find what your Looking for?</h4>
            </div>
            <form id="formname" name="formname" method="post" class="form-horizontal">
                <div class="modal-body row-fluid">
                    <div class="control-group"><span class="span3">Describe what you want :</span><textarea type="text" cols="50" rows="5" placeholder="Include your Preferences for Brand, size, organic, etc. Bes as specific as Possible. Your Shopper may call with questions. Shoppers cannot purchase Gift Cards or Tobacco."></textarea><br/></div>
                    <div class="control-group"><span class="span3">Quantity :</span><input type="number" style="width: 60px"><select style="width: 150px;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif"><option>Container</option><option>Kilograms</option></select><br/></div>
                    <span class="pull-left" ><input type="checkbox" ng-model="checked">&nbsp;I accept <a href="#/terms">Terms & Conditions</a></button></span>
                </div>
                <div class="modal-footer">
                    <div class="btn-group"><button type="submit" class="btn btn-success" ng-model="button" ng-disabled="!checked">Add to Cart</button>
                        <button type="reset" class="btn btn-danger">Reset</button></div>
                </div>
            </form>
        </div>
    </div>
</div> -->
