    <ul style="list-style: none">
        <li>
            <h3 class="fontthis">PRODUCE</h3>
            <ul class="thumbnails">
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Produce/fruits/Mango.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Mango</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Produce/fruits/Strawberry.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Strawberry</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Produce/vegetables/Tomato.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Tomato</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Produce/vegetables/Broccoli.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Broccoli</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Produce/oil/Saffola.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Saffola</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="fontthis">DAIRY</h3>
            <ul class="thumbnails">
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Dairy/cheese/Butter.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Butter</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Dairy/eggs/Eggs.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Eggs</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Dairy/milk/Amul milk.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Amul Milk</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Dairy/cheese/Paneer.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Paneer</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Dairy/milk/Dairy fresh.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Dairy Fresh</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="fontthis">BAKERY</h3>
            <ul class="thumbnails">
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Bakery/chocolates/Dairymilk silk.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Dairymilk silk</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Bakery/chips/Lays magic masti.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Lays magic masti</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Bakery/biscuits/Little heart.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Little Hearts</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Bakery/chips/Masala munch.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Masala Munch</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Bakery/chocolates/Fruit & nuts.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Fruit & Nuts</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="fontthis">BEVERAGES</h3>
            <ul class="thumbnails">
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Beverages/juice/Mixed Fruit Juice.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Mixed Fruit Juice</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Beverages/water/Kinley.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Kinley</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Beverages/energydrinks/Bournvita.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Bournvita</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Beverages/tea/Brookebond.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Brookebond</span>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-sm-4 col-xs-6 animate">
                    <div class="thumbnail">
                        <img ng-src="images/Store/Beverages/coffee/Nescafe Gold.jpg" class="img-responsive" width="170px" height="170px"/>
                        <div class="caption text-center">
                            <span class="pn">Nescafe Gold</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
<style>
    .fontthis {
        font-family: "Open Sans", "Noto Sans", sans-serif;
        font-weight: 400;
    }
</style>
