<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="span4">
                <br>
                <ul class="nav nav-pills nav-stacked no-radius">
                    <li>
                        <a href="#/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="#/blog">Blog</a>
                    </li>
                    <li>
                        <a href="#/contact">Contact</a>
                    </li>
                    <li>
                        <a href="#/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="#/terms">Terms and Conditions</a>
                    </li>
                </ul>

                <br>
                <h3>Blog</h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li class=""><a href="#/blog/2013/09/25/launching-in-dehradun">Launching in Dehradun</a></li>
                    <li class=""><a href="#/blog/2013/09/24/deliveries">Deliveries</a></li>
                    <li class=""><a href="#/blog/2013/04/02/we-are-sorry">We are sorry!</a></li>
                    <li class=""><a href="#/blog/2012/10/26/our-magic">Our Magic</a></li>
                </ul>

            </div>
            <div class="span8">
                <div class="entry">
                    <img src="images/user.jpg" class="img-polaroid inline pull-right" width="8%" height="8%"/>
                    <h3>Our Magic</h3>
                    <div class="entry-body">
                        <h4>A Quick Story</h4>
                        <p>Growing up in Delhi, I remember countless icy winter nights when I carried weeks worth of groceries from the supermarket, onto the local bus and then up three flights of stairs to my home. When things were just too heavy to carry, I'd have to make several trips, or enlist the help of my father.</p>
                        <p>Fast forward to my life in Dehradun earlier this year. I realized that not much had changed, and grocery shopping was still a dreadful chore for a Student Life with no good alternative. Grocery delivery services did exist, but the experience of those products was so terrible that you'd rather just go to the store.</p>
                        <p>Frustrated, I wanted to create an extremely intuitive experience that gave customers a huge selection and amazing customer service -- at an <strong>unimaginable level of convenience</strong>. After the first aurelia presentation to my near & dears called us “magical”, I knew that this word would come to define our company and become something we could never compromise on.</p>
                        <p>It sounds silly, but our mission is to <strong>deliver magic to people's doorsteps</strong> - and we're just getting started.</p>
                        <p class="inline">
                            Ayush K. Singh,<br>
                            CEO &amp; Founder
                        </p>
                    </div>
                    <div class="entry-info">
                        <small>by</small>
                        <strong>aurelia</strong>
                        <small>on</small>
                        <strong>May 27, 2014  9:37 AM</strong>
                    </div>
                    <div class="entry-share">
                        <span class="st_fblike_hcount" st_url="https://www.aurelia.com/blog/2012/10/26/our-magic" displaytext="Facebook Like"></span>
                        <span class="st_twitter_hcount" st_url="https://www.aurelia.com/blog/2012/10/26/our-magic" displaytext="Tweet"></span>
                        <span class="st_linkedin_hcount" st_url="https://www.aurelia.com/blog/2012/10/26/our-magic" displaytext="LinkedIn"></span>
                        <span class="st_email_hcount" st_url="https://www.aurelia.com/blog/2012/10/26/our-magic" displaytext="Email"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>