<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="span4">
                <br>
                <ul class="nav nav-pills nav-stacked no-radius">
                    <li>
                        <a href="#/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="#/blog">Blog</a>
                    </li>
                    <li>
                        <a href="#/contact">Contact</a>
                    </li>
                    <li>
                        <a href="#/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="#/terms">Terms and Conditions</a>
                    </li>
                </ul>

            </div>
            <div class="span8">
                <h2>Contact</h2>
                <div class="row">
                    <div class="span4">
                        <div>
                            <h3>Customer Service</h3>
                            <p>Questions? Reach out to us. Your happiness is our #1 priority. We really mean that.</p>
                            <hr>
                            <h4><i class="fa fa-fw fa-envelope muted"></i><a href="mailto:iblong2iyush@aurelia.com?subject=Customer%20Service%20Request" class="social">iblong2iyush@aurelia.com</a></h4>
                        </div>
                        <hr>
                    </div>
                    <div class="span4">
                        <div>
                            <h3>We're Social</h3>
                            <p>Connect on the social web for special deals, updates, and news about aurelia.</p>
                            <hr>
                            <h3>
                                <a href="https://www.facebook.com/aurelia" target="_blank" class="social"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
                                <a href="https://twitter.com/aurelia" target="_blank" class="social"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
                                <a href="https://instagram.com/aurelia" target="_blank" class="social"><i class="fa fa-fw fa-instagram fa-2x"></i></a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .social {
        color: #808080;
    }
    .social:hover {
        color: #3a87ad;
    }
</style>