<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    .category {
        font-size: 20px;
        font-weight: bold;
        width: 300px;
        color: #757575;
        padding-top: 16px;
    }
</style>
<div class="content-panel active"><div class="">
<div class="">
<div class="span4">
    <ul class="desktop-faq-nav faq-nav nav nav-list">
        <li>
            <a class="category" href="#/faq/#popular-questions">Popular Questions</a>
        </li>
        <li>
            <a href="#/faq/#popular-questions-q0">What is Aurelia?</a>
        </li>
        <li>
            <a href="#/faq/#popular-questions-q1">What stores are supported?</a>
        </li>
        <li>
            <a href="#/faq/#popular-questions-q2">Do you serve my area?</a>
        </li>
        <li>
            <a class="category" href="#/faq/#about-aurelia">About Aurelia</a>
        </li>
        <li>
            <a href="#/faq/#about-aurelia-q0">How fast do you deliver?</a>
        </li>
        <li>
            <a href="#/faq/#about-aurelia-q1">How much does delivery cost?</a>
        </li>
        <li>
            <a href="#/faq/#about-aurelia-q2">What are your hours?</a>
        </li>
        <li>
            <a href="#/faq/#about-aurelia-q3">What about produce?</a>
        </li>
        <li>
            <a href="#/faq/#about-aurelia-q4">What is aurelia cart?</a>
        </li>

        <li>
            <a class="category" href="#/faq/#inventory-and-prices">Inventory and Prices</a>
        </li>
        <li>
            <a href="#/faq/#inventory-and-prices-q0">What does Often Out of Stock mean?</a>
        </li>
        <li>
            <a href="#/faq/#inventory-and-prices-q1">What happens when something is out of stock?</a>
        </li>
        <li>
            <a href="#/faq/#inventory-and-prices-q2">Are your prices different from the store?</a>
        </li>

        <li>
            <a class="category" href="#/faq/#about-my-order">About My Order</a>
        </li>
        <li>
            <a href="#/faq/#about-my-order-q0">How do I check on the status of my order?</a>
        </li>
        <li>
            <a href="#/faq/#about-my-order-q1">How do I make a change to my order?</a>
        </li>
        <li>
            <a href="#/faq/#about-my-order-q2">What is your cancellation policy?</a>
        </li>
        <li>
            <a href="#/faq/#about-my-order-q3">What if I have to reschedule or cancel my order after it's already on the way?</a>
        </li>
        <li>
            <a href="#/faq/#about-my-order-q4">How do I report a problem with my order?</a>
        </li>
        <li>
            <a href="#/faq/#about-my-order-q5">When will I receive my refund?</a>
        </li>
        <li>
            <a class="category" href="#/faq/#personal-shoppers">Personal Shoppers</a>
        </li>
        <li>
            <a href="#/faq/#personal-shoppers-q0">Who will deliver my order?</a>
        </li>

        <li>
            <a href="#/faq/#personal-shoppers-q2">What if all Personal Shoppers are busy?</a>
        </li>

        <li>
            <a class="category" href="#/faq/#contact-us">Contact Us</a>
        </li>
        <li>
            <a href="#/faq/#contact-us-q0">I have more questions for you!</a>
        </li>
    </ul>
</div>
<div class="span8" id="faq-list">
    <h2>Frequently Asked Questions</h2>
    <h3 id="popular-questions">Popular Questions</h3>
    <ol class="unstyled">
        <li id="popular-questions-q0">
            <h4 class="question" id="what-is-aurelia">What is aurelia?</h4>
            <div class="answer">
                <p>aurelia is a delivery service that delivers in as little as an hour! We connect you with Personal Shoppers in your area who pick up and deliver your order from your favorite local stores.</p>
            </div>
        </li>
        <hr>
        <li id="popular-questions-q1">
            <h4 class="question" id="what-stores-are-supported">What stores are supported?</h4>
            <div class="answer">
                <p>Our Personal Shoppers shop from local stores in your area. These can include Big bazar,Easy day,Suvidha and many other stores. aurelia is an independent business and is not necessarily affiliated with, or endorsed or sponsored by Big bazar,Easy day,Suvidha or other retailers mentioned.</p>
            </div>
        </li>
        <hr>
        <li id="popular-questions-q2">
            <h4 class="question" id="do-you-serve-my-area">Do you serve my area?</h4>
            <div class="answer">
                <p>Our Personal Shoppers deliver in Dehradun,Delhi and various other cities.Sign up with your zip code to let us know where you want to see aurelia next!</p>
            </div>
        </li>
        <hr>
    </ol>
    <h3 id="about-aurelia">About aurelia</h3>
    <ol class="unstyled">
        <li id="about-aurelia-q0">
            <h4 class="question" id="how-fast-do-you-deliver">How fast do you deliver?</h4>
            <div class="answer">
                <p>Really fast! .</p>
            </div>
        </li>
        <hr>
        <li id="about-aurelia-q1">
            <h4 class="question" id="how-much-does-delivery-cost">How much does delivery cost?</h4>
            <div class="answer">
                <p>It's cheap! For most stores, delivery in under 2 hours is just &#8377;100!.</p>
            </div>
        </li>
        <hr>
        <li id="about-aurelia-q2">
            <h4 class="question" id="what-are-your-hours">What are your hours?</h4>
            <div class="answer">
                <p>We deliver from 9am to Midnight every day, depending on local store hours. On holidays, our delivery hours are subject to store holiday hours. You can view available delivery times for your area from the shopping cart.</p>
            </div>
        </li>
        <hr>
        <li id="about-aurelia-q3">
            <h4 class="question" id="what-about-produce">What about produce?</h4>
            <div class="answer">
                <p>We're experts at picking produce and other perishables! You can request the ripeness you'd like by adding a note to any item.</p>
            </div>
        </li>


        <hr>


        <li id="about-aurelia-q6">
            <h4 class="question" id="what-is-aurelia-express">What is aurelia Express?</h4>
            <div class="answer">
                <p>aurelia Express is a grocery delivery membership. With aurelia Express, all your 2 hour &amp; scheduled grocery deliveries over &#8377;35 are free. aurelia Express begins with a <a href="#express">14-day free trial</a>. After that, Express is just &#8377;99/year.</p>
            </div>
        </li>
        <hr>
    </ol>
    <h3 id="inventory-and-prices">Inventory and Prices</h3>
    <ol class="unstyled">
        <li id="inventory-and-prices-q0">
            <h4 class="question" id="what-does-often-out-of-stock-mean">What does Often Out of Stock mean?</h4>
            <div class="answer">
                <p>Items marked as Often Out of Stock are frequently replaced with other items by our Shoppers. We recommend choosing a replacement for those items during the checkout process, just in case they’re out of stock at the store.</p>
            </div>
        </li>
        <hr>
        <li id="inventory-and-prices-q1">
            <h4 class="question" id="what-happens-when-something-is-out-of-stock">What happens when something is out of stock?</h4>
            <div class="answer">
                <p>When something is out of stock at the store, we do our best to replace it with something similar. During checkout, you can choose specific replacements for any item, or ask for no replacement of an item. If you allow it, your shopper will call from the store to confirm replacement items.</p>
            </div>
        </li>
        <hr>
        <li id="inventory-and-prices-q2">
            <h4 class="question" id="are-your-prices-different-from-the-store">Are your prices different from the store?</h4>
            <div class="answer">
                <p>Yes, aurelia prices are our own and vary from the store’s price .</p>
            </div>
        </li>

    </ol>
    <h3 id="about-my-order">About My Order</h3>
    <ol class="unstyled">
        <li id="about-my-order-q0">
            <h4 class="question" id="how-do-i-check-on-the-status-of-my-order">How do I check on the status of my order?</h4>
            <div class="answer">
                <p>You can view the status of your order by clicking the link in your Order Confirmation email.</p>
            </div>
        </li>
        <hr>
        <li id="about-my-order-q1">
            <h4 class="question" id="how-do-i-make-a-change-to-my-order">How do I make a change to my order?</h4>
            <div class="answer">
                <p>If your Shopper has not started working on your order, you can add to, modify or cancel your order. You can find these options on the Order Status page.</p>
            </div>
        </li>
        <hr>
        <li id="about-my-order-q2">
            <h4 class="question" id="what-is-your-cancellation-policy">What is your cancellation policy?</h4>
            <div class="answer">
                <p>You can cancel your delivery for a full refund up until we start shopping for your order, about 1-2 hours before your scheduled delivery time.</p>
            </div>
        </li>
        <hr>
        <li id="about-my-order-q3">
            <h4 class="question" id="what-if-i-have-to-reschedule-or-cancel-my-order-after-it-s-already-on-the-way">What if I have to reschedule or cancel my order after it's already on the way?</h4>
            <div class="answer">
                <p>If you must cancel your order during the shopping or delivery process, your order total will be returned to your aurelia account as a credit for use with your next order. If you are not reachable at the time of delivery, we may cancel your order on your behalf and charge a &#8377;15.</p>
            </div>
        </li>
        <hr>
        <li id="about-my-order-q4">
            <h4 class="question" id="how-do-i-report-a-problem-with-my-order">How do I report a problem with my order?</h4>
            <div class="answer">
                <p>We try to make sure that every order is perfect, but sometimes they aren’t. If you have a problem with your order, like a missing or wrong item, please tell us! Leave feedback for your order using the link in the receipt we emailed you. We will respond shockingly fast!</p>
            </div>
        </li>
        <hr>
        <li id="about-my-order-q5">
            <h4 class="question" id="when-will-i-receive-my-refund">When will I receive my refund?</h4>
            <div class="answer">
                <p>Refunds take up to 5 business days to process. In some cases your bank may adjust the original charge amount instead of displaying a separate refund.</p>
            </div>
        </li>
        <hr>
    </ol>
    <h3 id="personal-shoppers">Personal Shoppers</h3>
    <ol class="unstyled">
        <li id="personal-shoppers-q0">
            <h4 class="question" id="who-will-deliver-my-order">Who will deliver my order?</h4>
            <div class="answer">
                <p>Your grocery order will be delivered by a screened and trained Personal Shopper.</p>
            </div>
        </li>
        <hr>
        <li id="personal-shoppers-q1">
            <h4 class="question" id="should-i-tip-my-personal-shopper">Should I tip my Personal Shopper?</h4>
            <div class="answer">
                <p>Tips are not required, but Shoppers appreciate recognition of their hard work. Shoppers receive the entire amount of your tip. You can tip using your credit card during checkout or after delivery.</p>
            </div>
        </li>
        <hr>
        <li id="personal-shoppers-q2">
            <h4 class="question" id="what-if-all-personal-shoppers-are-busy">What if all Personal Shoppers are busy?</h4>
            <div class="answer">
                <p>Occasionally our Personal Shoppers get overwhelmed with orders. During these times, a notification appears showing the next available delivery slot. Typically the next slot is later on the same day, or the following morning.</p>
            </div>
        </li>
        <hr>
        <li id="personal-shoppers-q3">
            <h4 class="question" id="can-i-become-a-personal-shopper">Can I become a Personal Shopper?</h4>
            <div class="answer">
                <p>We’re always looking to add Shoppers to our platform. If you love shopping, and have a car and smartphone, please apply! <br><br><a class="btn" data-target="#ps" href="/faq/#ps" data-toggle="modal">Fill out an application!</a></p>
            </div>
        </li>
        <hr>
    </ol>
    <h3 id="contact-us">Contact Us</h3>
    <ol class="unstyled">
        <li id="contact-us-q0">
            <h4 class="question" id="i-have-more-questions-for-you">I have more questions for you!</h4>
            <div class="answer">
                <p>Please email us at iblong2iyush@aurelia.com! We’re more than happy to help.  <br><br>
                    <a class="btn" href="mailto:iblong2iyush@aurelia.com?subject=More Questions">Email us!</a>
                    <a><i class="fa fa-fw fa-phone muted"></i>8979111110</a></p>
            </div>
        </li>
        <hr>
    </ol>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="ps" tabindex="-1" role="dialog" aria-labelledby="psModal" aria-hidden="true" style="width: 300px">
    <div class="modal-dialog" style="font-size: 18px;" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="height: 20px;width: 20px">&times;</button>
                <h4>Personal Shopper Form</h4>
            </div>
            <form id="formname" name="formname" method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="control-group"><input type="text" name="name" id="name" placeholder="Full Name"><br/></div>
                    <div class="control-group"><input type="email" name="email" id="email" placeholder="E-Mail ID"><br/></div>
                    <div class="control-group"><input type="tel" name="contact" id="contact" placeholder="Contact Number"><br/></div>
                    <div class="control-group"><textarea type="text" cols="50" rows="5" placeholder="Tell Us Why Your Enthusiastic about being a shopper!!"></textarea><br/></div>
                    <span class="pull-left" ><input type="checkbox" ng-model="checked">&nbsp;I accept Terms & Conditions</span>
                </div>
                <div class="modal-footer">
                    <div class="btn-group"><button type="submit" class="btn btn-success" ng-model="button" ng-disabled="!checked">Apply</button>
                        <button type="reset" class="btn btn-danger">Reset</button></div>
                </div>
            </form>
        </div>
    </div>
</div>