<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="span4">
                <br>
                <ul class="nav nav-pills nav-stacked no-radius">
                    <li>
                        <a href="#/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="#/blog">Blog</a>
                    </li>
                    <li>
                        <a href="#/contact">Contact</a>
                    </li>
                    <li>
                        <a href="#/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="#/terms">Terms and Conditions</a>
                    </li>
                </ul>

            </div>
            <div class="span8">
                <h2>Privacy Policy</h2>
                <hr>
                <p>Protecting your private information is our priority. This Statement of Privacy applies to the http://aurelia.com and aurelia, Inc. and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to aurelia, Inc. include http://aurelia.com and aurelia. The aurelia website is a grocery shopping site. By using the aurelia website, you consent to the data practices described in this statement.</p>
                <h2>Collection of your Personal Information</h2>
                <p>aurelia may collect personally identifiable information, such as your name. If you purchase aurelia's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. We may gather additional personal or non-personal information in the future.</p>
                <p>Information about your computer hardware and software may be automatically collected by aurelia. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the aurelia website.</p>
                <p>aurelia encourages you to review the privacy statements of websites you choose to link to from aurelia so that you can understand how those websites collect, use and share your information. aurelia is not responsible for the privacy statements or other content on websites outside of the aurelia website.</p>
                <h2>Use of your Personal Information</h2>
                <p>aurelia collects and uses your personal information to operate its website(s) and deliver the services you have requested.</p>
                <p>aurelia may also use your personally identifiable information to inform you of other products or services available from aurelia and its affiliates. aurelia may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.</p>
                <p>aurelia does not sell, rent or lease its customer lists to third parties.</p>
                <p>aurelia may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to aurelia, and they are required to maintain the confidentiality of your information.</p>
                <p>aurelia may keep track of the websites and pages our users visit within aurelia, in order to determine what aurelia services are the most popular. This data is used to deliver customized content and advertising within aurelia to customers whose behavior indicates that they are interested in a particular subject area.</p>
                <p>aurelia will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on aurelia or the site; (b) protect and defend the rights or property of aurelia; and, (c) act under exigent circumstances to protect the personal safety of users of aurelia, or the public.</p>
                <h2>Use of Cookies</h2>
                <p>The aurelia website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
                <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize aurelia pages, or register with aurelia site or services, a cookie helps aurelia to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same aurelia website, the information you previously provided can be retrieved, so you can easily use the aurelia features that you customized.</p>
                <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the aurelia services or websites you visit.</p>
                <h2>Security of your Personal Information</h2>
                <p>aurelia secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
                <h2>Children Under Thirteen</h2>
                <p>aurelia does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>
                <h2>Opt-Out &amp; Unsubscribe</h2>
                <p>
                    We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from aurelia by contacting us here: <a href="mailto:happycustomers@aurelia.com?subject=Opt out of Communication">happycustomers@aurelia.com</a><br>
                </p>
                <h2>Changes to this Statement</h2>
                <p>aurelia will occasionally update this Statement of Privacy to reflect company and customer feedback. aurelia encourages you to periodically review this Statement to be informed of how aurelia is protecting your information.</p>
                <h2>Contact Information</h2>
                <p>aurelia welcomes your questions or comments regarding this Statement of Privacy. If you believe that aurelia has not adhered to this Statement, please contact aurelia at:</p>
                <p>
                    aurelia, Inc.<br>
                    127/A Shanti Niwas<br>
                    Society Area, Dehradun - 248001
                </p>
                <p>Email Address: <a href="mailto:iblong2iyush@gmail.com?subject=Terms of Use">legal@aurelia.com</a></p>
                <p>Telephone number: +91 8979111110</p>
                <p>Effective as of January 27, 2014</p>
            </div>
        </div>
    </div>

</div>